.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.avatar {
  height: 70px;
  width: 70px;
}

.team-logo {
  height: 40px;
  width: 40px;
}

.player-card {
  border: 2px solid;
  border-radius: 20px;
  border-color: #363636;
}

.match-detail-card {
  border: 1px solid;
  border-radius: 5px;
  border-color: #363636;
}

.player-position {
  
  font-size: small;
}

.match-date, .club-champ {
  font-size: small;
}

.club-champ {
  font-style: italic;
  font-style: oblique;
}

.stat-table {
	overflow: auto;
	display: block;
	table-layout: auto;
  /*border: 1px solid;
  border-radius: 5px;
  border-color: #363636;*/
  width: 100%;
}

.navbar-logo {
  height: 30px;
  width: 30px;
}

.division-logo {
  height: 35px;
  width: 35px;
}

@media (max-width: 480px) {
  .season-square {
    border: 1px solid;
    border-radius: 6px;
    border-color: #c1c1c1;  
    text-align: center;
    width: 5.5vw;
    height: 5.5vw;
    font-weight: 700;
  } 

  .content {
    font-size: 3vw;
    padding-top: 10%;
  }

  .season-grid > .row > .col { padding-left: 3px; padding-right: 3px; }

  .stat-table-header {
    font-size: 2.25vw;
    color: white;
  }

  .stat-table-body {
    font-size: 2.25vw;
  }

  .match-detail-text h4 {
    font-size: 2.4vw;
  }

  .match-detail-text h5 {
    font-size: 2.1vw;
  }

  .match-detail-text h6 {
    font-size: 1.8vw;
  }  

  .team-logo {
    height: 20px;
    width: 20px;
  }
}

@media (min-width: 481px) and (max-width: 991px) {
  .season-square {
    border: 1px solid;
    border-radius: 6px;
    border-color: #c1c1c1;  
    text-align: center;
    width: 3.5vw;
    height: 3.5vw;
    font-weight: 700;
  } 

  .content {
    font-size: 1.8vw;
    padding-top: 10%;
  }

  .season-grid > .row > .col { padding-left: 7px; padding-right: 7px; }
}

@media (min-width: 991px) {
  .stat-table-body {
    font-size: 1vw;
  }

  .stat-table-header {
    font-size: 1vw;
    color: white;
  }

  .season-square {
    border: 1px solid;
    border-radius: 6px;
    border-color: #c1c1c1;  
    text-align: center;
    width: 1.5vw;
    height: 1.5vw;
    font-weight: 700;
  }

  .content {
    font-size: 1vw;
    padding-top: 0%;
  }

  .season-grid > .row > .col { padding-left: 3px; padding-right: 3px; }
}

.stat-table-header {
    background-color: #0275d8;
    color: white;
}

.win-square, .loss-square {
  color: #fff;
}

.loss-square {
  background: linear-gradient(45deg, #C4010D 50%, #F80245 100%);
}

.win-square {
  background: linear-gradient(45deg, #19A863 50%, #94D85D 100%);
}

.selected-square {
  border: 1px solid;
  border-color: #038cfc;
}

a {
    text-decoration: none !important;
}


/*
Winning Square
<span class="eapl-proclub-overview__division-games-sort-item" style="color: #fff;border: none;background: linear-gradient(45deg, #C4010D 50%, #F80245 100%);">L</span>

Losing Square
<span class="eapl-proclub-overview__division-games-sort-item" style="color: #fff;border: none;background: linear-gradient(45deg, #C4010D 50%, #F80245 100%);">L</span>

Empty Square
<span class="eapl-proclub-overview__division-games-sort-item" style="">-</span>
*/

.react-bootstrap-table table > tbody > tr > td:nth-child(1){ 
  padding: 0.75rem;
  vertical-align: top;
  background-color: white; 
  background-clip: padding-box;
  position: sticky; 
  position: -webkit-sticky; 
  left:0; 
  z-index:1; }

  .react-bootstrap-table table > tbody > tr > td:nth-child(n + 2){ 
    padding: 0.75rem; }

.react-bootstrap-table table > thead > tr:nth-child(1) > th:nth-child(1) {
  background-color: #0275d8;
  background-clip: padding-box;
  border-top: 1px solid #dee2e6;
  color: white; 
  position: sticky; 
  position: -webkit-sticky; 
  left:0; 
  z-index:1; 
}

.match-detail-title-row > h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
}

.player-position {
  font-size: small;
  color: gray;
}

.no-bottom-margin {
  margin-bottom: 0;
}
